.otpInput{
    width:40px;
    height:40px;
    margin:5px;
    text-align: center;
    font-size: 1.2rem;
}
input:focus{
    border:3px solid var(--first);
}
.hello{
    display: flex;
    align-items: center;
    justify-content:center;
}