.container {
  padding: 2px;
  font-family: Arial, sans-serif;
}

.userInfo {
  width: 45%;
  margin-bottom: 20px;
  text-align: center;
  z-index: 2;
}

.userName {
  font-size: 22px;
  margin-top: 10px;
}

.cdd {
  height: auto;
  width: 100%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
  background-color: #FD752C;
}

.cd_bd {
  width: 100%;
  max-width: 320px;
  background-color: #ddd;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 8px;
  margin-top: 10px;
  font-size: 16px;
  box-shadow: 3px 3px 2px 0px rgb(174, 174, 174);
  text-align: center;
  word-break: break-word;
  overflow-wrap: break-word;
  transition: all 0.3s ease;
}

.cd_bd1 {
  background-color: #ddd;
  border-radius: 8px;
  border: 1px solid transparent;
  box-shadow: 3px 3px 2px 0px rgb(174, 174, 174);
  padding: 5px;
  margin-top: 10px;
  font-size: 16px;
}

.profilePhoto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.logoutBtn {
  background-color: #00165a;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 10px;
}

.additionalInfo {
  width: 45%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
  border: 1px solid #222;
  z-index: 2;
}

.subtitle {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: underline;
  /* text-decoration-style:wavy; */
}

.statusContainer {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-left: 40%;
}

.statusBtn {
  margin-left: 10px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.barcodeContainer {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.barCode {
  /* width:800px;  */
  margin-left: 300px;
  height: 150px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}














/* Media Queries */







.profileDisplay {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  /* background-color: #00165a; */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
  background: linear-gradient(315deg, rgba(101, 0, 94, 1) 3%, rgba(60, 132, 206, 1) 38%, rgb(3, 237, 222) 68%, rgb(248, 5, 5) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: hidden;

  background-attachment: fixed;

}



@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 17em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.wave:nth-of-type(2) {
  bottom: -2.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -3.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }
}

@media (max-width: 768px) {
  .profileDisplay {
    flex-direction: column;
    align-items: center;
  }

  .userInfo,
  .additionalInfo {
    width: 85%;
    padding: 15px;
    mask-origin: fill-box;
    line-height: normal;
    opacity: calc();

  }

  .cdd {
    width: 90%;
    max-width: 400px;
    padding: 15px;
  }

  .cd_bd {
    width: 100%;
    padding: 10px;
    font-size: 15px;
  }

  .profilePhoto {
    width: 130px;
    height: 130px;
  }
}

@media (max-width: 480px) {
  .profileDisplay {
    flex-direction: column;
    align-items: center;
    width: 92%;
    padding: 15px;
  }

  .subtitle {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: underline;
    /* text-decoration-style:wavy; */
  }

  .statusContainer {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-left: 30%;
  }

  .statusBtn {
    text-align: center;
  }

  .userInfo,
  .additionalInfo {
    width: 85%;
    padding: 10px;
  }

  .cdd {
    width: 90%;
    padding: 15px;
  }

  .cd_bd {
    padding: 8px;
    font-size: 14px;
  }

  .profilePhoto {
    width: 120px;
    height: 120px;
  }

  .logoutBtn {
    padding: 8px;
    font-size: 14px;
  }

  .barCode {
    /* width: 100px;  */
    margin-left: 0px;
    width: 225px;
  }

}

@media (min-width: 320px) {
  .barCode {
    /* width: 100px;  */
    width: 200px;
    padding: 0px;
  }

  .barcodeContainer {
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
  }
}